.button_spacing{
	border-bottom: #c8c8c8 solid 1px;
	padding-bottom: 40px;
}

.navbar-default{
	/*background-color: #fff;*/
	background-color: #009cde;
    background-image: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);
}

.header_style{
	font-family: "pp-sans-big-medium", Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.header-logo{
    height: 66px;
    margin-top: -23px;
    margin-left: -16px;
}