<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Talent Bridge</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="style/login.css" />
        <link rel="stylesheet" href="style/style.css" />
        <link rel="stylesheet" href="style/profile.css" />
        <link rel="stylesheet" href="components/angular-ui-select/dist/select.min.css" />
        <link rel="stylesheet" href="components/select2/select2.css" />
        <link rel="stylesheet" href="components/angular-ui-select2/docs/styles.css" />
        <link rel='stylesheet prefetch' href="style/font.css" />
    </head>
    <body ng-app="talent-bridge" ng-controller="mainCtrlabc">
        <div  ng-include="'modules/common/header.html'"></div>
        <div ui-view></div>
        <!-- <div ng-include="'modules/common/footer.html'"></div> -->
        <!-- Bower components -->
        <script src="components/jquery/dist/jquery.min.js"></script>
        <script src="components/angular/angular.min.js"></script>
        <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="components/angular-ui-select/dist/select.min.js"></script>
        <script src="components/angular-cookies/angular-cookies.min.js"></script>
        <script src="components/select2/select2.js"></script>
        <script src="components/angular-ui-select2/src/select2.js"></script>
        
        <!-- Custom javascript files-->

        <!-- Controller -->
        <script src="js/app.js"></script>
        <script src="js/app.route.js"></script>
        <script src="js/mainCtrl.js"></script>
        <script src="shared/services/authentication.service.js"></script>
        <script src="shared/services/service-call-url.service.js"></script>
        <script src="shared/services/modal.service.js"></script>

        <script src="modules/login/controllers/loginCtrl.js"></script>
        <script src="modules/home/controllers/homeCtrl.js"></script>
        <script src="modules/profile/controllers/profileCtrl.js"></script>
        
    </body>
</html>